<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <input type="file" name="file" />
    </form>
    <script>
        window.addEventListener('load', () => {
            const fileInput = document.querySelector('input[name="file"]');
            if (fileInput) {
                fileInput.addEventListener("change", fileChange)
            }
        });
        function fileChange(event) {
            const { files } = event.target;
            if (files.length > 0) {
                fileReader(files[0], (result) => {
                    splitAndSendFile(new Uint8Array(result), files[0])
                })
            }
        }
        function fileReader(files, cb) {
            const reader = new FileReader();
            reader.onload = function (event) {
                cb(event.target.result);
            }
            reader.readAsArrayBuffer(files);
        }

        async function splitAndSendFile(dataArray, file) {
            console.log(file)
            let fileResponse = null;
            await fetch("http://localhost:8123/upload", {
                method: "POST",
                body: JSON.stringify({
                    filename: file.name,
                    size: file.size,
                    type: file.type,
                })
            }).then(resp => resp.json())
                .then(async res => {
                    var i = 0, formData, blob, timeout;
                    for (; i < dataArray.length; i += 1410) {
                        blob = new Blob([dataArray.subarray(i, i + 1410)]);
                        formData = new FormData();
                        formData.append("file", blob, file.name + ".part" + (i / 1410));
                        await fetch("http://localhost:8123/upload?filename=" + res.filename, {
                            method: "PUT",
                            body: formData,
                        });
                        timeout = setTimeout(async () => {

                        }, 1000);
                        // clearTimeout(timeout)
                    }

                });
        }
    </script>
</body>

</html>